<div class="container">
    <app-navi></app-navi>
    <div class="row">
        <div class="col-md-3">
            <br>
            <h4 style="background-color: red; color: white; text-align: center;">Mevcut Markalar</h4>
            <app-brand></app-brand>
            <br>
            <h4 style="background-color:red; color: white; text-align: center;">Mevcut Renkler</h4>
            <app-color></app-color>
        </div>
        <div class="col-md-9">
            <br>
            <router-outlet></router-outlet>
        </div>
  </div>
  <br><br>
</div>