<div class="container">
  <div class="row">
      <app-navi></app-navi>
      <div class="col-md-3">
          <br>
          <h4 style="background-color:rgb(48, 48, 48); color: rgb(219, 216, 0); text-align: center;">Mevcut Markalar</h4>
          <app-brand></app-brand>
          <br>
          <h4 style="background-color:rgb(48, 48, 48); color: rgb(219, 216, 0); text-align: center;">Mevcut Renkler</h4>
          <app-color></app-color>
      </div>
      <div class="col-md-9">
          <br>
          <h4 style="background-color:rgb(48, 48, 48); color: rgb(175, 175, 175); text-align: center;">Araç Listesi</h4>
          <app-car></app-car>
          <br>
          <h4 style="background-color:rgb(48, 48, 48); color: rgb(175, 175, 175); text-align: center;">Kiralamalar</h4>
          <app-rental></app-rental>
          <br>
          <h4 style="background-color:rgb(48, 48, 48); color: rgb(175, 175, 175); text-align: center;">Müşteriler</h4>
          <app-customer></app-customer>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>