<table class="table caption-top">
  <caption>Araç Listesi</caption>
   <thead>
      <tr>
        <th scope="col">Araç No</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Model Yılı</th>
        <th scope="col">Renk</th>
        <th scope="col">Fiyat</th>
      </tr>
  
   </thead>
   <tbody>
       <tr routerLink="cars/carDetails/{{car.carId}}" *ngFor="let car of cars">
        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>    
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.colorName}}</td>    
        <td>{{car.dailyPrice}}₺</td>  
       </tr>
   </tbody>
   
</table>